.App {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.drink-recomendado-container {
  width: 700px;
  height: 400px;
  background-image:url('./assets/margarita.jpg');
  background-repeat: no-repeat;
  border-radius: 10px;
  object-fit: contain;

}

.drink-recomendado-info {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-filter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 700px;
  height: 400px;
  background-color: rgba(62, 63, 63, 0.5);
  border-radius: 10px;
}

.drink-recomendado-info h4, h1 { 
  margin: 0px;
}

h4{
  color: rgb(255, 136, 0);
  font-size: 25px;
}

h1{
  font-size: 70px;
  color: white;
}
.drink-link {
  text-decoration: none;
  color: white; 
}

.recepiLink-container {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid grey;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 3px 2px 2px grey;
}

.recepiLink-container img {
  object-fit: fill;
  width: 190px;
  height: 70%;
  padding: 0px;
  border-radius: 5px;
}

.recepiLink-container p {
  margin: 0px;
  text-align: center;
  font-weight: bold;
}

.recepiLink-container hr {
  border: 1px solid grey;
  width: 200px;
  margin: 0px;
}

.recepiLinkBtn {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 136, 0);
  color: white;
}

h2 {
  color: black;
  font-size: 40px;
  margin-left: 180px;
}

.drinks-alcoolicos-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  margin-left: 150px;
  margin-top: 35px;
}

.recepi-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.recepi-instructions-container{
  width: 500px;
  padding-right: 250px;
  font-size: 20px;
}

.recepi-instructions-container li, ul {
 list-style: none;
 padding: 0px;
}

.recepi-img {
  width: 500px;
  border-radius: 5px;
  box-shadow: 3px 2px 2px grey;

}