.App {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.drink-recomendado-container {
  width: 700px;
  height: 400px;
  background-image:url('./assets/margarita.jpg');
  background-repeat: no-repeat;
  border-radius: 10px;
  object-fit: contain;

}

.drink-recomendado-info {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-filter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 700px;
  height: 400px;
  background-color: rgba(62, 63, 63, 0.5);
  border-radius: 10px;
}

.drink-recomendado-info h4, h1 { 
  margin: 0px;
}

h1{
  font-size: 70px;
  color: white;
}
.drink-link {
  text-decoration: none;
  color: white; 
}

.recepiLink-container {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid grey;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 3px 2px 2px grey;
}

.recepiLink-img {
  object-fit: fill;
  width: 190px;
  height: 190px;
  padding: 0px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.recepiLink-p {
  margin: 0px;
  font-weight: bold;
}

.recepiLink-hr{
  border: 1px solid grey;
  width: 190px;
  margin: 0px;
}

.recepiLinkBtn {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 136, 0);
  color: white;
  margin: 5px;
}

.page-title {
  color: black;
  font-size: 40px;
  text-align: center;
  margin: 20px;
}

.sobre{
  font-size: 11px;
  width: 300px;
}

.drinks-alcoolicos-page, .drinks-sem-alcool-page, .search-drinks-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 990px;
  margin-left: 250px;
  margin-top: 35px;
}

.recipe-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1000px;
  height: 600px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 250px;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: 3px 3px 2px 2px grey;
}

.recipe-img {
  width: 400px;
  height: 400px;
  border-radius: 5px;
  box-shadow: 3px 2px 2px grey;

}

.recipe-instructions-container {
  width: 300px;
  margin-right: 50px;
}

.recipe-instructions-container ul {
  list-style: none;
  padding: 0px;
}

.sujestao-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px;
}

.sujestao-img {
  border-top-right-radius: 50%;
}

.sujestao-btn{
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  margin-top: 65px;
}

.logo {
  width: 50px;
  height: 50px;
  color: white;
}

.logo-icon {
  width: 40px;
  height: 40px;
  padding: 0px;
}

.recipe-page{
  background-image: url('./assets/backgroud.jpg');
}

.error-img{
  width: 800px;
  height: 500px;
  display: flex;
	flex-direction: column;
	flex-wrap: wrap-reverse;
	justify-content: center;
	align-items: center;
	align-content: center;
  margin-left: 350px;
}

.error-p {
  color: black;
  font-size: 18px;
  position: absolute;
  top:70px;
  left:550px;
  width: 350px;
  text-align: center;
}

.loading {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-white {
  text-decoration: none;
  color: white;
}

.text-white:hover {
  background-color: rgb(255, 136, 0);
  transition: all 0.5s;
}

.recepiLinkBtn:hover {
  background-color: orangered;
  transition: all 0.5s;
}

.sujestao-btn:hover {
  background-color: rgb(255, 136, 0);
  transition: all 0.5s;
}

@media screen and (max-width: 380px) {

  .sujestao-container{
    width: 375px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0px;

  }

  .sujestao-img {
    width: 290px;

  }

  .sujestao-description h2, h4 {
    font-size: 15px;
    width: 250px;
    text-align: center;
  }

  .sujestao-description {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .sujestao-btn {
    margin: 0px;
  }

  .recipe-page {
    background-image: none;
  }

  .recipe-container {
    width: 375px;
    height: 800px;
    display: flex;
    flex-direction: column;
    margin: 0px;

  }

  .recipe-img {
    width: 300px;
    height: 300px;
  }

  .drinks-alcoolicos-page, .drinks-sem-alcool-page, .search-drinks-page {
    width: 375px;
    margin: 0px;

  }

}

@media screen and (max-width: 1200px ) {
  
  .sujestao-container{
    width: 1200px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px;

  }

  .sujestao-img {
    width: 600px;

  }

  .recipe-page {
    height: 800px;
    
  }

  .recipe-container {
    width: 1200;
    height: 600px;
    display: flex;
    margin: 90px;

  }

  .drinks-alcoolicos-page, .drinks-sem-alcool-page, .search-drinks-page {
    width: 1100px;
    margin-left: 40px;
    
  }

  @media screen and (max-width: 840px ) {
    .sujestao-container{
      width: 820px;
      height: 700px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin: 0px;

    }
  
    .sujestao-img {
      width: 600px;
  
    }

    .sujestao-description {
      align-items: center;

    }
    
    .sujestao-btn {
      margin-top: 40px;
    }

    .recipe-page {
      height: 800px;
      
    }
  
    .recipe-container {
      width: 800px;
      height: 600px;
      display: flex;
      margin-left: 5px;
  
    }

    .drinks-alcoolicos-page, .drinks-sem-alcool-page, .search-drinks-page {
      width: 700px;
    
      
    }

  }

}